<<<<<<< HEAD
<li class="navitem navlink"><a href="/music_wiki_home">Home</a></li>
<li class="navitem navlink"><a href="/music_wiki_about">About</a></li>
<li class="navitem navlink"><a href="/music_wiki_credits">Credits</a></li>
=======
<li class="navitem navlink"><a href="home.html">Home</a></li>
<li class="navitem navlink"><a href="about.html">About</a></li>
<li class="navitem navlink"><a href="credits.html">Credits</a></li>
>>>>>>> e08228adf6e96d9b82457896b5c562cb7333a04f
