<li class="navitem navlink active"><a href="/music_wiki_home">Home</a></li>
<li class="navitem navlink"><a href="/music_wiki_about">About</a></li>
<li class="navitem navlink"><a href="/music_wiki_credits">Credits</a></li>
