<header>
    <a href="/home"><h1 class="site-title"> Spotify Music Wiki </h1></a>

    <nav class="navbar">
        <ul class="navlist">
        {{>nav-no-active}}
        </ul>
    </nav>
</header>


<h1> 404 </h1>
<h2> Sorry! The page you're trying to find doesn't exist yet! </h2>
<div class="img-container"> <img src="https://pngimage.net/wp-content/uploads/2018/05/dead-face-png-4.png" > </div>
  