<header>
    <a href="/music_wiki_home"><h1 class="site-title"> Spotify Music Wiki </h1></a>

    <nav class="navbar">
            {{>nav-credits-active}}
        </ul>
    </nav>
</header>

<h1> About Our Team </h1>
<p> Victoria, King and Rose are all students at Oregon State University. Victoria Ebert is a second year computer science major
    with a focus in data science. One thing Victoria really enjoys is camping at Mount Hood. King Hin Chan is a Mathematics major and a Sophomore.
    He enjoys reading and listening to classical music. Rose Rodarte is a first year computer science major with no set focus yet. Her 
    favorite thing to do in her free time is play video games.</p>
<p> This project was created for the class, CS 290, as a final project to showcase our skills in HTML, CSS, Javascript, Node, Express 
    and Handlebars. </p>
<p class='img-container3'> <img src='https://marinestudies.oregonstate.edu/sites/marinestudies.oregonstate.edu/files/osulogo.png'> </p>
<h1> A special thanks to Spotify for the use of their API</h1>
<h4> <a href='https://developer.spotify.com/documentation/web-api/'> The Spotify API can be found by clicking here! </a> </h4>
<p class='img-container2'> <img src='https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png'</p>