<header>
    <a href="/home"><h1 class="site-title"> Music Wiki </h1></a>

    <nav class="navbar">
        <ul class="navlist">
            {{>nav-credits-active}}
        </ul>
    </nav>
</header>

<h1> About Our Team </h1>
<h4> Victoria, King and Rose are students at Oregon State University...<h4>
<h1> A special thanks to Spotify for the use of their API</h1>
<h4> The Spotify API can be found at: (link here) </h4>