<header>
    <a href="/home"><h1 class="site-title"> Spotify Music Wiki </h1></a>

    <nav class="navbar">
            {{>nav-credits-active}}
        </ul>
    </nav>
</header>

<h1> About Our Team </h1>
<h4> Victoria, King and Rose are all students at Oregon State University from the College of Engineering. Victoria Ebert is a
    second year computer science major with a focus in data science. One thing Victoria really enjoys is camping at Mount Hood. King...
    Rose is a first year computer science major with no set focus yet. Her favorite thing to do in her free time is play video games.<h4>
<div class='img-container3'> <img src='https://marinestudies.oregonstate.edu/sites/marinestudies.oregonstate.edu/files/osulogo.png'> </div>
<h1> A special thanks to Spotify for the use of their API</h1>
<h4> <a href='https://developer.spotify.com/documentation/web-api/'> The Spotify API can be found by clicking here! </a> </h4>
<div class='img-container2'> <img src='https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png'</div>