<header>
    <a href="/music_wiki_home"><h1 class="site-title"> Spotify Music Wiki </h1></a>

    <nav class="navbar">
        <ul class="navlist">
        {{>nav-home-active}}
        </ul>
    </nav>
</header>

<h2 class="page-title"> Search for your favorite song!</h2>
<h2 class="main-search">
    <input type="text" id="search-input" placeholder="Search...">
    <button type="button" id="search-button" class="button"> <span class="material-icons"> search</span>  </button>
