<header>
    <a href="/music_wiki_home"><h1 class="site-title">Spotify Music Wiki </h1></a>

    <nav class="navbar">
        <ul class="navlist">
        {{>nav-no-active}}
        </ul>
    </nav>
</header>

<h1> Top 10 Search Results for "{{searchResult}}" </h1>

<p id="disclaimer"> Note: If the results are not what you searched for, please try to refresh the page! </p>

<main class="song-container">
    {{#each songList}}
        {{>songCard}}
    {{/each}}
</main>